
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://i.postimg.cc/pdDfB0xp/Admin-LTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


            <li class="nav-header">Quản lý đội</li>
            <li class="nav-item">
              <a href="/team" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Đội
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/team/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm đội
                </p>
              </a>
            </li>

            
            <li class="nav-header">Quản lý flag</li>
            <li class="nav-item">
              <a href="/flag" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Flag
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/flag/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm flag
                </p>
              </a>
            </li>


            <li class="nav-header">Account</li>
            <li class="nav-item">
              <a href="/auth/logout" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Đăng xuất
                </p>
              </a>
            </li>

        </ul>
      </nav>
    </div>
  </aside>